
TraderRestartOnSaleLogger.txt
TraderMainRestartLogger.txt
TraderVolumeStatsLogger.txt
TraderMainLogger.txt
TraderLastBuyLogger.txt
TraderLogger.txt
lastSale.txt
lastMySellPrice.txt
lastMyBuyPrice.txt
lastCurrencySecondaryBallance.txt
TraderRestartIfNoSaleOrBuy.txt
bidPrice.txt
lastTradeStatusFile.txt
lastCurrencySecondaryBallance.txt
lastCurrencyPrimaryBallance.txt
