#####  TODO #####;
#####  MAKE NEW STRING VARIABLE FOR PAIRS THAT ARE SEPARATED WITH CHARACTER LIKE "/" - WEX#####;
#####  TODO #####;
#####  GENERAL SETTINGS - START #####;
# currencyPrimary;
currencyPrimary=BTC;
# currencySecondary;
currencySecondary=IOT;
# currencyPairSplitCharacter - some exchanges require additional sign (WEX HAS PAIRS BTC/IOT AND NOT BTCIOT);
currencyPairSplitCharacter=;
# maximum number of bids;
maxNumberOfBids=2;
# should steps between bids be calculated in percentage;
bidsDifferenceInPercentageCondition=true;
# step between bids in percentage - 0.1 is 0.1% - in%,the first step indentation How price first buy order in the table should be less than the purchase of the current at the time of the calculation table.  All other orders will buy more cheaper;  
bidsDifferenceInPercentage=0.60;
# variable, that checks if all variables have been read;
variableReadSuccessful=true;
# firstBuyStep;
firstBuyStep=0;
# ;
makeBuyIfNumberOfBuysIsBigger=15;
# ;
makeBuyIfNumberOfBuysIsBiggerCondition=true;
# ;
currencyPrimaryKeepAmountFixedValue=0;
# ;
currencySecondaryKeepAmountFixedValue=0.0;
# in% overlap stroke rates,calculating the depth of the table buy orders. ;
# For example,in a first step,the price 10BTC percentage of overlap of 20% means that the table will be set in the range // 8-10BTC.  //default 30;
stepBetweenOrders=5;
# feeMaker;
feeMaker=0.001;
# feeTaker;
feeTaker=0.002;
# martin;
martin=5;
# minBidAmount		- set minimum bid amount for exchange;
minBidAmount=6.10;
#####  GENERAL SETTINGS - END #####;

#####  PROFIT SETTINGS - START #####;
# profit;
profit=0.25;
# profitCurrencyPrimaryAmount;
profitCurrencyPrimaryAmount=0.25;
# profitCurrencyPrimaryAmountCondition;
profitCurrencyPrimaryAmountCondition=false;
# profitInPercentage;
profitInPercentage=0.5;
#####  PROFIT SETTINGS - END #####;


#####  OPTIONAL #####;
#####  RESET BIDS - START #####;
# IF PRICE IS HIGHER THAN LAST BUY PRICE * resetPrice * 100 - START #####;
# resetPrice 		- when should bids be reset;
resetPrice=0.5;
# resetBidsEnabled	- it must be enabled for reset bids to work;
resetBidsEnabled=false;
#####  RESET BIDS - START #####;


#####  OPTIONAL #####;
#####  BIDS - FIXED AMOUNT - START #####;
# allBidsPriceEnabled;
allBidsPriceEnabled=true;
# allBidsPrice;
allBidsPrice=6.20;
# firstBidPriceEnabled;
firstBidPriceEnabled=false;
# firstBidPrice;
firstBidPrice=6.20;
#####  BIDS - FIXED AMOUNT - END #####;


#####  OPTIONAL #####;
#####  BIDS - DISTRIBUTED - START - for testing purpose #####;
# bidsDistributionEnabled;
bidsDistributionEnabled=false;
# bidsDistributionMaxNumberOfBids;
bidsDistributionMaxNumberOfBids=31;
# bidsDistributionMaxVolumeSecondCurrency;
bidsDistributionMaxVolumeSecondCurrency=3;
# bidsDistributionMinExchangeBid;
bidsDistributionMinExchangeBid=6.10;
#####  BIDS - DISTRIBUTED - END #####;